#superdiv{
	height: 100%;
	width: 100%;
	position: fixed;
}
#imagediv{
	width:650px;
	margin-left:auto;
	margin-right:auto;
}
#calcdiv{
	width:430px;
	margin-left:auto;
	margin-right:auto;
}
html{
	background-image: url(../images/metal.png);
}
#textbar{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #C5E6D1 5%, #000000 100% );
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #E81C1C;
	display:inline-block;
	color:#F01111;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:left;
	text-shadow:1px 1px 0px #E81C1C;
}
.buttons{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #C5E6D1 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5E6D1', endColorstr='#000000');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #E81C1C;
	display:inline-block;
	color:#F01111;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #E81C1C;
}
.buttons:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5C0002), color-stop(1, #1F0001) );
	background:-moz-linear-gradient( center top, #5C0002 5%, #1F0001 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C0002', endColorstr='#1F0001');
	background-color:#dfdfdf;
}
#textdiv{
	width: 500px;
	float:right;

	padding:20px;
	margin-top: 250px;
	margin-right: 25px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #C5E6D1 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5E6D1', endColorstr='#000000');
	background-color:#ededed;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #E81C1C;
	display:inline-block;
	color:#F01111;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:120px;
}